<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.pusan.cs.android.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />


    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DiDi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start"/>
        <activity android:name=".Todolist"></activity>
        <activity android:name=".Diary"></activity>
        <activity android:name=".select_meal" ></activity>
        <activity android:name=".EnterUserInfo"/>
        <activity android:name=".UserInfo"/>
        <activity android:name=".Choose_module" />
        <activity android:name=".insert_food_2"/>
        <activity android:name=".view_food" />
        <activity android:name=".Exercise"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="kr.ac.pusan.cs.android.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>


</manifest>